* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer !important;
}

.contanier {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Dog Life START */
#lifesec {
  border: 1px solid rgba(0, 0, 0, 0);
  min-height: 100vh;
}
#lifesec .lifewods {
  font-family: "Open Sans", Arial, sans-serif;
  text-align: center;
  margin-top: 30px;
}
#lifesec .lifewods h1 {
  font-weight: 500;
  line-height: 1.2;
  font-size: 50px;
}
#lifesec .lifewods p {
  font-size: 14px;
  color: #ffc107;
  margin-top: 20px;
}
#lifesec .mainn {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
#lifesec .mainn .mainleft {
  margin-top: 40px;
  width: 30%;
  margin-left: 30px;
}
#lifesec .mainn .mainleft .dogimg {
  width: 100%;
}
#lifesec .mainn .mainleft img {
  height: 100%;
  width: 100%;
}
#lifesec .mainn .mainRight {
  display: flex;
  border: 1px solid none;
  margin-top: 40px;
  margin-right: 50px;
}
#lifesec .mainn .mainRight p {
  font-size: 17px;
  color: rgba(0, 0, 0, 0.774);
  font-family: "Open Sans", Arial, sans-serif;
  letter-spacing: 2px;
}
#lifesec .mainn .mainRight h4 {
  color: #ffc107;
}
#lifesec .mainn .mainRight .rightWords {
  max-width: 400px;
  height: 400px;
}
#lifesec .mainn .mainRight .rightWordss {
  max-width: 400px;
  height: 400px;
}

@media (max-width: 768px) {
  #lifesec .mainn {
    display: flex;
    flex-direction: column;
  }
  #lifesec .mainn .mainleft {
    width: 100%;
    margin-left: 0;
  }
  #lifesec .mainn .mainRight {
    display: flex;
    flex-direction: column;
  }
  #lifesec .mainn .mainRight .rightWords {
    height: auto;
  }
  #lifesec .mainn .mainRight .rightWords p {
    margin-left: 20px;
  }
  #lifesec .mainn .mainRight .rightWordss p {
    margin-left: 20px;
  }
  #lifesec .mainn .mainRight .rightWordss h4 {
    margin-left: 20px;
  }
}
/* Dog Life End */
.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
}

#dogbreed .dogbreed {
  display: flex;
  flex-direction: column;
  gap: 70px;
  align-items: center;
}
#dogbreed .dogbreed .dogbreed_text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
#dogbreed .dogbreed .dogbreed_text .dogbreed_text_header {
  color: #000;
  font-size: 1.2rem;
  line-height: 1.8;
  padding-left: 50px;
}
#dogbreed .dogbreed .dogbreed_text .dogbreed_text_header h1 {
  text-align: center;
}
#dogbreed .dogbreed .dogbreed_text .dogbreed_text_content {
  width: 80%;
  margin: auto;
  padding-left: 50px;
}
#dogbreed .dogbreed .dogbreed_text .dogbreed_text_content p {
  text-align: center;
  font-size: 1.5rem;
  opacity: 0.6;
  line-height: 1.8;
  font-weight: 400;
}
#dogbreed .dogbreed .dogbreed_images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#dogbreed .dogbreed .dogbreed_images .dogbreed_image {
  position: relative;
  width: 33%;
  overflow: hidden;
}
#dogbreed .dogbreed .dogbreed_images .dogbreed_image .dogbreed_image_text {
  height: 0px;
  position: absolute;
  width: 100%;
  opacity: 0;
  z-index: 3;
  transition: height 0.7s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
}
#dogbreed .dogbreed .dogbreed_images .dogbreed_image .dogbreed_image_text .add {
  color: white;
  font-size: 40px;
}
#dogbreed .dogbreed .dogbreed_images .dogbreed_image .dogbreed_image_text .dog_name {
  color: white;
  font-size: 20px;
}
#dogbreed .dogbreed .dogbreed_images .dogbreed_image img {
  width: 100%;
  height: 350px;
  object-fit: fill;
  transition: transform 0.7s ease;
}
#dogbreed .dogbreed_image:hover .dogbreed_image_text {
  background-color: #000;
  opacity: 0.6 !important;
  height: 100% !important;
}
#dogbreed .dogbreed_image:hover img {
  transform: scale(1.1);
}

@media only screen and (max-width: 800px) {
  #dogbreed .dogbreed {
    display: flex;
    flex-direction: column;
    gap: 70px;
    align-items: center;
  }
  #dogbreed .dogbreed .dogbreed_text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
  #dogbreed .dogbreed .dogbreed_text .dogbreed_text_header {
    color: #000;
    font-size: 1.2rem;
    line-height: 1.8;
  }
  #dogbreed .dogbreed .dogbreed_text .dogbreed_text_header h1 {
    text-align: center;
  }
  #dogbreed .dogbreed .dogbreed_text .dogbreed_text_content {
    width: 80%;
    margin: auto;
  }
  #dogbreed .dogbreed .dogbreed_text .dogbreed_text_content p {
    text-align: center;
    font-size: 1.5rem;
    opacity: 0.6;
    line-height: 1.8;
    font-weight: 400;
  }
  #dogbreed .dogbreed .dogbreed_images {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 50px;
    flex-direction: column;
    justify-content: center;
  }
  #dogbreed .dogbreed .dogbreed_images .dogbreed_image {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  #dogbreed .dogbreed .dogbreed_images .dogbreed_image .dogbreed_image_text {
    position: absolute;
    width: 100%;
    opacity: 0;
    z-index: 3;
    transition: opacity 0.7s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
  }
  #dogbreed .dogbreed .dogbreed_images .dogbreed_image .dogbreed_image_text .add {
    color: white;
    font-size: 40px;
  }
  #dogbreed .dogbreed .dogbreed_images .dogbreed_image .dogbreed_image_text .dog_name {
    color: white;
    font-size: 20px;
  }
  #dogbreed .dogbreed .dogbreed_images .dogbreed_image img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    transition: transform 0.7s ease;
  }
  #dogbreed .dogbreed_image:hover .dogbreed_image_text {
    background-color: #000;
    opacity: 0.6 !important;
    height: 100% !important;
  }
  #dogbreed .dogbreed_image:hover img {
    transform: scale(1.1);
  }
}
.every_dog_section {
  padding: 7rem 0;
  background-color: #f8f9fa !important;
}
.every_dog_section .text_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.every_dog_section .text_box h2 {
  text-align: center;
  margin-bottom: 1.5rem !important;
  font-size: 2rem;
}
.every_dog_section .text_box p {
  text-align: center;
  margin-bottom: 1.5rem !important;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.8;
  color: #868e96;
  width: 70%;
}
.every_dog_section .swiper {
  width: 100%;
  height: 100%;
  padding: 30px;
}
.every_dog_section .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding-bottom: 86px;
}
.every_dog_section .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.every_dog_section .swiper .swiper-slide img:hover {
  transform: scale(1.15);
}
.every_dog_section .swiper .swiper-slide div {
  width: 100%;
  position: absolute;
  background-color: white;
  z-index: 5;
  bottom: 0;
  padding: 30px;
}
.every_dog_section .swiper .swiper-slide div h3 {
  font-size: 20px;
}

@media screen and (max-width: 700px) {
  .every_dog_section p {
    width: 100% !important;
  }
  .every_dog_section .swiper {
    padding: 10px !important;
  }
}
footer {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #262626;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5);
  gap: 6rem;
}
footer .footer_top {
  display: flex;
  max-width: 1140px;
  width: 100%;
  gap: 20px;
}
footer .footer_top .first_div h3 {
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #fff;
}
footer .footer_top .first_div p {
  margin-bottom: 3rem !important;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5);
  max-width: 330px;
}
footer .footer_top .first_div .btn_box {
  display: flex;
}
footer .footer_top .first_div .btn_box button {
  line-height: 0;
  border-radius: 50%;
  margin: 0 5px 5px 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 30px;
  height: 30px;
  text-align: center;
  color: #ffc107;
  background-color: transparent;
  transition: all 500ms;
}
footer .footer_top .first_div .btn_box button:hover {
  background-color: #fff;
  color: #262626;
}
footer .footer_top .second_div {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 41.66667%;
  width: 100%;
}
footer .footer_top .second_div .first h3 {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #fff;
}
footer .footer_top .second_div .second p, footer .footer_top .second_div .third p, footer .footer_top .second_div .fourth p {
  color: #fff;
  line-height: 1.5;
  font-size: 13px;
  font-weight: 400;
}
footer .footer_top .second_div .second p:first-child, footer .footer_top .second_div .third p:first-child, footer .footer_top .second_div .fourth p:first-child {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5) !important;
  font-weight: 400;
}
footer .footer_top .third_div h3 {
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #fff;
}
footer .footer_top .third_div ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer .footer_top .third_div ul a {
  transition: color 500ms;
  color: #ffc107;
}
footer .footer_top .third_div ul a:hover {
  color: #fff;
}
footer .footer_bottom p {
  line-height: 1.8;
  padding: 0 15px;
}
footer .footer_bottom p a {
  transition: color 500ms;
  color: #ffc107;
}
footer .footer_bottom p a:hover {
  color: #fff;
}

@media screen and (max-width: 800px) {
  footer .footer_top .second_div {
    max-width: 35%;
  }
}
@media screen and (max-width: 768px) {
  footer .footer_top {
    flex-direction: column;
    align-items: center;
  }
  footer .footer_top .first_div, footer .footer_top .second_div, footer .footer_top .third_div {
    max-width: 540px;
    width: 100%;
  }
}
.recent_section .contanier .recent_section_text h1 {
  color: black;
  text-align: center;
  font-size: 30px;
  margin: 20px;
}
.recent_section .contanier .recent_section_text p {
  max-width: 730px;
  height: 70px;
  color: #868e96;
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
}
.recent_section .contanier .recent_section_box_contanier {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.recent_section .contanier .recent_section_box_contanier .recent_section_boxleft {
  width: 510px;
  height: 340px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recent_section .contanier .recent_section_box_contanier .recent_section_boxleft .img_contanier {
  height: 272px;
  width: 180px;
}
.recent_section .contanier .recent_section_box_contanier .recent_section_boxleft .img_contanier img {
  width: 100%;
  height: 100%;
  margin: 20px 20px 0 0;
}
.recent_section .contanier .recent_section_box_contanier .recent_section_boxleft .recent_section_text_contanier {
  max-width: 320px;
}
.recent_section .contanier .recent_section_box_contanier .recent_section_boxleft .recent_section_text_contanier * {
  margin-bottom: 20px;
}
.recent_section .contanier .recent_section_box_contanier .recent_section_boxleft .recent_section_text_contanier h3 {
  color: #868e96;
  margin-top: 40px;
}
.recent_section .contanier .recent_section_box_contanier .recent_section_boxleft .recent_section_text_contanier h1 {
  color: #ffc107;
}
.recent_section .contanier .recent_section_box_contanier .recent_section_boxleft .recent_section_text_contanier p {
  color: #868e96;
}
.recent_section .contanier .recent_section_box_contanier .recent_section_boxleft .recent_section_text_contanier button {
  height: 34px;
  width: 130px;
  border: none;
  background-color: #ffc107;
  margin-top: 20px;
  border-radius: 5px;
  color: white;
}
@media only screen and (max-width: 850px) {
  .recent_section .contanier .recent_section_box_contanier .recent_section_boxleft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 300px 0;
  }
  .recent_section .contanier .recent_section_box_contanier .recent_section_boxleft * {
    text-align: center;
  }
  .recent_section .contanier .recent_section_box_contanier .recent_section_boxleft .img_contanier {
    height: 550px;
    width: 80%;
  }
}
.recent_section .contanier .recent_section_box_contanier .recent_section_boxright {
  width: 435px;
  height: 340px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 20px;
}
.recent_section .contanier .recent_section_box_contanier .recent_section_boxright .recent_section_boxright_top {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.recent_section .contanier .recent_section_box_contanier .recent_section_boxright .recent_section_boxright_top img {
  width: 180px;
  height: 120px;
  margin-top: 10px;
}
.recent_section .contanier .recent_section_box_contanier .recent_section_boxright .recent_section_boxright_top .textcontanier h4 {
  margin-top: 10px;
}
.recent_section .contanier .recent_section_box_contanier .recent_section_boxright .recent_section_boxright_top .textcontanier h3 {
  margin: 5px;
  color: #ffc107;
  margin-bottom: 7px;
}
.recent_section .contanier .recent_section_box_contanier .recent_section_boxright .recent_section_boxright_top .textcontanier button {
  height: 34px;
  width: 130px;
  border: none;
  background-color: #ffc107;
  border-radius: 5px;
  margin-top: 5px;
  color: white;
}
.recent_section .contanier .recent_section_box_contanier .recent_section_boxright .recent_section_boxright_bottom {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.recent_section .contanier .recent_section_box_contanier .recent_section_boxright .recent_section_boxright_bottom img {
  width: 180px;
  height: 120px;
  margin-top: 20px;
}
.recent_section .contanier .recent_section_box_contanier .recent_section_boxright .recent_section_boxright_bottom .textcontanier {
  margin-top: 20px;
}
.recent_section .contanier .recent_section_box_contanier .recent_section_boxright .recent_section_boxright_bottom .textcontanier h4 {
  margin-top: 5px;
}
.recent_section .contanier .recent_section_box_contanier .recent_section_boxright .recent_section_boxright_bottom .textcontanier h3 {
  color: #ffc107;
  margin-bottom: 7px;
}
.recent_section .contanier .recent_section_box_contanier .recent_section_boxright .recent_section_boxright_bottom .textcontanier button {
  height: 34px;
  width: 130px;
  border: none;
  background-color: #ffc107;
  border-radius: 5px;
  margin-top: 5px;
  color: white;
}
@media only screen and (max-width: 850px) {
  .recent_section .contanier .recent_section_box_contanier .recent_section_boxright .recent_section_boxright_top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .recent_section .contanier .recent_section_box_contanier .recent_section_boxright .recent_section_boxright_top * {
    text-align: center;
  }
  .recent_section .contanier .recent_section_box_contanier .recent_section_boxright .recent_section_boxright_top .img_contanier {
    height: 550px;
    width: 100%;
    margin: auto;
  }
  .recent_section .contanier .recent_section_box_contanier .recent_section_boxright .recent_section_boxright_bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .recent_section .contanier .recent_section_box_contanier .recent_section_boxright .recent_section_boxright_bottom * {
    text-align: center;
  }
  .recent_section .contanier .recent_section_box_contanier .recent_section_boxright .recent_section_boxright_bottom .img_contanier {
    height: 550px;
    width: 100%;
    margin: auto;
  }
}/*# sourceMappingURL=main.css.map */